// Place all the styles related to the public/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin comment-base{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: #555;
  background-color: #e0edff;
}

@mixin comment-before-base{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -15px;
  border: 15px solid transparent;
}

.comment-left{
  @include comment-base;
  &:before{
    @include comment-before-base;
    left: -30px;
    border-right: 15px solid #ecedff;
  }
}

.comment-right{
  @include comment-base;
  &:before{
    @include comment-before-base;
    right: -30px;
    border-left: 15px solid #ecedff;
  }
}