<div class="col-sm-12 relative">
  <!--nav-->
  <div class="main-content">
    <section class="jumbotron">
      <h2 class="home-heading">Cheer Music</h2>
      <p>Music for you whenever</p>
    </section>
    
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <section class="home-content-text text-center">
          <h3>一音一会、音楽は人生に彩を与える</h4>
          <p>
            嬉しいとき、楽しいとき、悲しいとき、辛いとき、<br>
            様々な感情に出会ったときに、自分で言葉が出てこない時に、<br>
            きっと音楽は貴方の声となり、心となり、意志となります。<br>
            そんな音楽との出会いは、まさに一期一会です。<br>
            貴方との出会いを、心を、他の人とシェアしませんか。
          </p>
        </section>
        <div class="home-tags">
          <p>TAG TAG TAG</p>
        </div>
        <div class="home-search">
          <p>Search form</p>
        </div>
        <div class="home-songs">
          <p>SONG SONG SONG</p>
        </div>
    </div>
  </div>
</div>