<div id="favorite-btn-<%= song.id  %>">
  <% if song.favorited_by?(current_user) %>
    <%= link_to "★",  song_favorite_path(song) , method: :delete,  remote: true, style: "color: yellow;" %>
  <% else %>
    <%= link_to "★", song_favorite_path(song), method: :post,  remote: true, style: "color:  blue;" %>
  <% end %>
  <%= song.favorites.count %>いいね！
</div>