<% if resource.errors.any? %>
  <div class="error-explanation">
    <h2><%= resource.errors.count %>件のエラーが発生しました。</h2>
    <ul class="error-list">
      <% resource.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>