<nav class="absolute sidebar">
  <h2>MENU</h2>
  <ul class="nav-list">
    <li class="nav-list-item">HOME</li>
    <li class="nav-list-item">ABOUT</li>
    <li class="nav-list-item">LOGIN</li>
    <li class="nav-list-item">REGISTER</li>
  </ul>
</nav>